* {
  font-family: 'Poppins';
}

.row {
  margin: 0;
}

.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}

.page-enter, .page-leave-active {
  opacity: 0;
}

.welcome-top {
  position: relative;
  height: 500px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    font-weight: 900;
    color: #fff;
    font-size: calc(20px + 2 * ((100vw) / 100));
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.galery {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  margin: 0 auto
}

h3 {
  margin: 15px 0;
}

.container {
  padding: 12px 7% !important;

  @media(max-width: 600px) {
    padding: 12px 2% !important;
  }
}

.slider .v-slider__thumb-label {
  border-radius: 0 !important;
  transform: translateY(-20%) translateY(-4px) translateX(-50%) rotate(0) !important;
  height: 16px !important;
  min-width: 24px !important;
  width: auto !important;


  div {
    transform: rotate(0) !important;
    padding: 0 5px !important;
  }
}